/* ---------- Content ---------- */

.article-list {
    display: flex;
    flex-direction: column;
    ul {
        margin: 0;
        padding: 0;
    }
    p {
vertical-align: text-bottom;
    }

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include desktop {

    }
}