/* ---------- Content ---------- */

.article-list {
    display: flex;
    flex-direction: column;
    img {
        width: 100vw;
    }
    @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
        img {
            width: 50vw;
        }
    }
}