/* ---------- Global ---------- */
body {
    background-color: #000;
    color: $white;
    font-size: 16px;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    a {
        color: $white;
        text-decoration: none;
        line-height: 1.5rem;
    }
    .hide {
    display: none;
    }
    .container {
        display: flex;
        align-items: flex-end;
        width: 100vw;
        height: 420px;
        background: no-repeat center top contain;
        background-size: auto 420px;
        p {
            padding: .5rem;
            background: rgba(0,0,0,.6);
        }
 
        @include tablet {
            width: 50vw;
        }
        @include desktop {
            width: 25vw;
        }
    }
}