/* ---------- Mixins ---------- */
@mixin flex-position-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin article-grid-row {
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-header-tablet-desktop {
  flex-direction: row;
  .dropdown {
    align-items: flex-start;
  }
  .dropdown-title {
    font-size: 1rem;
    margin-top: 0;
  }
}

@mixin small-header-tablet-desktop {
  justify-content: flex-start;
  align-items: flex-start;
  .logo {
      height: 67px;
  }
  .dropdown-title {
      margin-top: 0;
  }
}