// @import 'variables';
// @import 'mixins';

@import 'reset';
@import 'fonts';


/* ---------- Variables ---------- */

$white: #fff;
$gray: #c2c2c2;

/* ---------- Global ---------- */
body {
    background-color: #000;
    color: $white;
    font-size: 16px;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    .hide {
    display: none;
    }
}

/* ---------- Header ---------- */

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.dropdown-title {
    font-size: .8rem;
    margin: 1rem 0rem;
    }
.dropdown-menu {
    width: 125px;
    font-size: 1.1rem;
    background-color: $white;
    }
}


/* ---------- Footer ---------- */

footer {
    color: $gray;
    font-size: .9rem;
    text-align: center;   
    .uppercase {
    text-transform: uppercase;
    }
}



/* ---------- Media Queries ---------- */

/* ---------- Tablet ----- */
@media (min-width: 600px) {
    .nav {
        flex-direction: row;
    }
    .logo {
        width: 22%;
        padding-right: 20px;    
    }
    .dropdown {
        align-items: flex-start
    }
    .dropdown-title {
        margin-top: 0;
        font-size: .9rem;
    }
}


/* ---------- Desktop ----- */
@media (min-width: 1000px) {
    .nav {
        justify-content: flex-start;
    }
    .logo {
        width: 220px;
        padding-right: 35px;
        padding-left: 30px;
    }
    .dropdown-title {
        font-size: 1rem;
    }
    footer {
        text-align: left;
        padding-left: 40px;
    }
}